_site
.sass-cache
.jekyll-metadata
.DS_Store
*.*~
*.*

# Posts
!2019-06-03-creating-a-website-with-jekyll.md
!2019-06-03-setting-up-aws-instances.md
!2019-06-10-creating-image-datasets-with-google.md
!2019-06-18-regression-forecasting-on-tabular-data-with-fastai.md
!2019-06-27-unix-commands.md
!2019-08-22-how-to-learn-python.md
!2019-08-27-python-file-handling.md
!2019-09-10-mappa-coventrensis.md
!2019-11-11-Interacting-with-kaggle-datasets.md
!2019-11-12-la-permanence.md

# Image files, etc.
!assets/mappa-coventrensis/*.png
!assets/regression-tab-data-fastai/